{#			TEMPLATE										#}
{% extends "/layout/template.html" %}

{#			HEAD											#}
{% block head %}
	<title>{{ title }}</title>
	<meta name="description" content="{{ description }}">
{% endblock head %}

{#			HEADER											#}
{% block header %}
	{% include "/layout/header.html" %}
{% endblock header %}

{#			FOOTER											#}
{% block footer %}
	{% include "/layout/footer.html" %}
{% endblock footer %}

{#			CONTENT											#}
{% block content %}
<main class="mb-4">
	<h2 class="text-center">Titre</h2>
</main>
{% endblock content %}