{% extends "/layout/home.html" %}

{% block head %}
	<title>FPAW | Fabrice Pigou Application Web</title>
	<meta name="description" content="Avec FPAW créez un site internet professionnel pour exposer votre travail en ligne et promouvoir votre entreprise.">
{% endblock head %}


{% block content %}
 <section class="container text-center">
		<div class="slide-inside">
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum ea tempora tenetur nemo itaque magnam aliquam natus ad porro perferendis placeat modi atque impedit recusandae, officiis rerum. Eius, porro temporibus!</p>
		</div>
 </section>
{% endblock content %}
	