{% extends "/layout/default.html" %}

{% block head %}
	<title>{{ title }}</title>
	<meta name="description" content="{{ description }}">
{% endblock head %}


{% block content %}
 <section class="container text-center">
		<div class="slide-inside">
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum ea tempora tenetur nemo itaque magnam aliquam natus ad porro perferendis placeat modi atque impedit recusandae, officiis rerum. Eius, porro temporibus!</p>
		</div>
 </section>
{% endblock content %}
	