.w-100{
    width: 100%;
    flex-basis: 100%;
}
.separation + .separation::before{
    content: ' - ';
}
.green{
    color: green;
}
.red{
    color: red;
}
.active{
	color: #fff;
}
.tr{
    text-align: right;
}
.pt-10{
    padding-top: 10px;
}