.main-common{
    display: flex;
    flex-wrap: wrap;
}
.common-store{
    flex-basis: 48%;
    background-color: #fff;
    margin: 0 1%;
    border-radius: 7px;
    padding: 15px;
}
.common-content{
    flex-basis: 98%;
    margin: 15px 1% 0;
    background-color: #fff;
    border-radius: 7px;
    padding: 15px;
}
.common-entries{
    flex-basis: 48%;
    background-color: #fff;
    margin: 0 1%;
    border-radius: 7px;
    padding: 15px;
}
.common-entries form, .common-store form {
    width: 100%;
}