/* CSS POUR L'EXEMPLE */
/* Simple reset */
*,::after,::before{box-sizing:border-box}
html{font-family:sans-serif;}
body{
	margin:0;
}
#slide1, #slide2, #slide3{
	height: 1800px;
	color: red;
	padding: 50px 0;
}
#slide1 {
	background: url(/images/admin/site-bg.jpg) center bottom 0 no-repeat fixed;
	background-size: cover;
 }

 #slide2 {
	background: url(/images/admin/responsive-bg.jpg) center 0 no-repeat fixed;
	background-size: cover;
 }
 #slide3 {
	background: url(/images/admin/code-bg.jpg) center bottom 0 no-repeat fixed;
	background-size: cover;
 }