<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta http-equiv="Cache-control" content="no-cache">

	{% block head %}{% endblock head %}
	<!--[if IE]>  
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>  
	<![endif]-->
	<link rel="shortcut icon" href="/images/logo.png" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" >
	<link rel="stylesheet" href="/markitup/skins/markitup/style.css" />
	<link rel="stylesheet" href="/markitup/sets/html/style.css" />
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	{% include "/layout/header.html" %}
	{% block content %}{% endblock %}
	{% include "/layout/footer.html" %}
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

	<script src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<script src="/markitup/jquery.markitup.js"></script>
	<script src="/markitup/sets/html/set.js"></script>

	<script src="/js/main.js"></script>
	
	<script>
		$(document).ready(function() {
			$("textarea").markItUp(mySettings);
		});
	 </script>
</body>
</html>