{% block footer %}
<footer class="">
	<nav class="navbar navbar-expand-md navbar-dark bg-dark">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarFooter" 
				aria-controls="navbarFooter" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarFooter">
			<ul class="container w-100 navbar-nav justify-content-around">
				{{ NavLink('cgu', 'Conditions générales d\'utilisation') | raw }}
				{{ NavLink('charter', 'Charte de guilde') | raw }}
			</ul>
		</div>
		
	</nav>
</footer>
{% endblock footer %}