<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta http-equiv="Cache-control" content="no-cache">

	{% block head %}{% endblock head %}
	<!--[if IE]>  
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>  
	<![endif]-->
	<link rel="shortcut icon" href="/images/admin/favicon.png" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" >
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	{% block content %}{% endblock %}
	
	<script type="text/javascript" src="/js/home.js"></script>
	
</body>
</html>